API_ID=18499702
API_HASH=d4dff36c2c1ebf6f8f6bc044b5bce9c9
BOT_TOKEN=7433755116:AAEZ9D8iFh2UxtD6YZyn3bvoW2qjE7_ng_0
LOG_GROUP_ID=-1001902619247
MONGO_DB_URI=mongodb+srv://2004:2005@cluster0.6vdid.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=5050578106
STRING_SESSION=BQEzRJAACZnUM97yVoNAUNdYac1T0fObP1QWtRGjUNCsgr_Rv4SQSGqHbj6Ts9NYAplOJ0UxioXAiJr01E3i0jhZPKKO-bEUgC9QZlWU_LXO5woUxS6j_I180ywY7ghWhQiaL5vuVBKGQKd5oJlSF0OJMt0-7vw7QOXlXxIr5hIUVBB0_UgOnOI--xNq-OoEHdaTWOs7uKXVT72hdT4Atb6OpesB318amLFrmgr_HnG99I_OLHEBZr3SYVaub7iYbhbLAK0_9LXYBKt-5LR01UwPBnciWWr2rooTvc872hXdkr92SXCIn8y6yYCLQqDNGFUGIt4EyVc0BkiqEqCHbTKYqH0BlAAAAAHlDO4GAA
STRING_SESSION2=BQGHNOgAwJaPE1-7Ogv2UGeSDeMoBBXgWFrAOf4IFrE-7RGn5J6Sh02cIIGH4yAuuKodFPae97AlWichJblYcPlo5KluR8-xCS_as8TynHySalv9R7sSXdK30PvxOO-vk8PUXEe3qDX7tMVG0rYuracwPARckMlXD2z1ZMm-G_kDKnn6Bn8xb3y-9Ncurua5-gMqWvnKJzmBPBKRB97Y4YLFrt92yoVt0Kr84_SCLNNuCvA5pInR21uRr_s4w8JwfF9PrsghE3quFL_MTB_LIRHnlrReLwEjKsH1SQ-TLWSiAygCzgZfS4I55m3y86K631pW_d2dgRFnzLKh3N-gYsxUGBCmfgAAAAGo5finAA
